# Rectify the code in each cell and **explain the error in comments**

### index error

In [2]:
mylist=[14, "hello", 967]
mylist[1]
#the list only have 3 elements and the code was excuting calling the 7th element.

'hello'

In [4]:
import pandas
import numpy
# the libraries names are case sensitive

# syntax error

In [8]:
print ("python errors")
#code lacked parentheses and print command is case sensitive

python errors

# key error

In [10]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]
#key was in the wrong format

'hello'

# indentation error

In [11]:
i=14
while i<78:
  print(i)
  i+=1

#the while loop wasn't correctly indented

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

# StopIteration

In [13]:

it=iter([1,2,3])
next(it)
next(it)
next(it)
#code only have 3 iterations

3

# TypeError

In [14]:
15+15
#can't perform mathematical operations on a string value.

30

# ValueError

In [15]:
int('2')
#must apply the integar formula on an applicable data format

2

# NameError

In [16]:

def python():
  print ("python")
python()
#must define a variable named python for the code to work

python

# ZeroDivisionError

In [17]:
x=19/1
#can't divide on 0